.lndrui__alert {
  align-items: center;
  background-color: var(--o10);
  display: flex;
  font-weight: 500;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 50px;
  position: relative;

  * { margin: 0; }

  &--success { background-color: var(--success); }
  &--info { background-color: var(--primary); }
  &--warning { background-color: var(--accent); }
  &--danger { background-color: var(--danger); }


  .lndrui__btn {
    height: 50px;
    font-size: 1.4rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
}
