.lndrui__input {
  border: 3px solid var(--primary);
  box-sizing: border-box;
  outline: none;
  padding: 10px 20px;
  transition: all 0.2s ease;
  width: 100%;

  &:focus {
    border-color: var(--accent);
  }
}

.lndrui__input--transparent {
  background-color: var(--o05);
  border-color: transparent;

  &:focus {
    background-color: transparent;
    border-color: var(--o10);
  }
}

.lndrui__input--error {
  border-color: var(--danger) !important;
  color: var(--danger);
}