.lndrui__textarea {
  border: 3px solid var(--primary);
  outline: none;
  padding: 10px;
  transition: all 0.2s ease;
  min-width: 300px;

  &:focus {
    border-color: var(--accent);
  }
}

.lndrui__textarea--transparent {
  background-color: var(--o05);
  border-color: transparent;

  &:focus {
    background-color: transparent;
    border-color: var(--o10);
  }
}

.lndrui__textarea--error {
  border-color: var(--danger) !important;
  color: var(--danger);
}