@layer base {
  [data-theme="dark"] {
    --color-primary: var(--color-ocean-main);
    --color-primary-accent: var(--color-ocean-l20);

    --color-secondary: var(--color-brick-main);
    --color-secondary-accent: var(--color-brick-l20);

    --color-danger: var(--color-red-main);
    --color-danger-accent: var(--color-red-l20);

    --color-grey: var(--color-grey-main);
    --color-grey-accent: var(--color-grey-l20);

    --color-neutral: var(--color-ocean-d20);
    --color-neutral-accent: var(--color-ocean-main);

    --color-background: var(--color-ocean-d80);
    --color-background-accent: var(--color-ocean-d70);

    --color-font: var(--color-grey-l100);
    --color-font-invert: var(--color-grey-d80);
  }
}
