@layer base {
  [data-theme="light"] {
    --color-primary: var(--color-ocean-main);
    --color-primary-accent: var(--color-ocean-d20);

    --color-secondary: var(--color-brick-main);
    --color-secondary-accent: var(--color-brick-d20);

    --color-danger: var(--color-red-main);
    --color-danger-accent: var(--color-red-d20);

    --color-grey: var(--color-grey-main);
    --color-grey-accent: var(--color-grey-d20);

    --color-neutral: var(--color-grey-l20);
    --color-neutral-accent: var(--color-grey-main);

    --color-background: var(--color-grey-l90);
    --color-background-accent: var(--color-grey-l100);

    --color-font: var(--color-grey-d80);
    --color-font-invert: var(--color-grey-l100);
  }
}
