:root {
  /* ============ */
  /* == COLORS == */
  /* ============ */

  --color-brick-l100: 255 255 255;
  --color-brick-l80: 249 231 225;
  --color-brick-l60: 243 207 195;
  --color-brick-l40: 236 183 164;
  --color-brick-l20: 230 159 134;
  --color-brick-main: 224 135 104;
  --color-brick-d20: 179 108 83;
  --color-brick-d40: 134 81 62;
  --color-brick-d60: 90 54 42;
  --color-brick-d80: 45 27 21;
  --color-brick-d100: 0 0 0;

  --color-ocean-l100: 255 255 255;
  --color-ocean-l80: 220 224 249;
  --color-ocean-l60: 185 193 243;
  --color-ocean-l40: 151 162 236;
  --color-ocean-l20: 116 131 230;
  --color-ocean-main: 81 100 224;
  --color-ocean-d20: 65 80 179;
  --color-ocean-d40: 49 60 134;
  --color-ocean-d60: 32 40 90;
  --color-ocean-d80: 16 20 45;
  --color-ocean-d100: 0 0 0;

  --color-red-l100: 255 255 255;
  --color-red-l80: 253 218 218;
  --color-red-l60: 251 181 180;
  --color-red-l40: 249 145 143;
  --color-red-l20: 247 108 105;
  --color-red-main: 245 71 68;
  --color-red-d20: 196 57 54;
  --color-red-d40: 147 43 41;
  --color-red-d60: 98 28 27;
  --color-red-d80: 49 14 14;
  --color-red-d100: 0 0 0;

  --color-grey-l100: 255 255 255;
  --color-grey-l80: 237 237 237;
  --color-grey-l60: 218 218 218;
  --color-grey-l40: 200 200 200;
  --color-grey-l20: 181 181 181;
  --color-grey-main: 163 163 163;
  --color-grey-d20: 130 130 130;
  --color-grey-d40: 98 98 98;
  --color-grey-d60: 65 65 65;
  --color-grey-d80: 33 33 33;
  --color-grey-d100: 0 0 0;
}
