:root {
  /* ============ */
  /* == COLORS == */
  /* ============ */

  --color-ocean-l100: 255 255 255; /* #ffffff */
  --color-ocean-l90: 238 240 252; /* #eef0fc */
  --color-ocean-l80: 220 224 249; /* #dce0f9 */
  --color-ocean-l70: 203 209 246; /* #cbd1f6 */
  --color-ocean-l60: 185 193 243; /* #b9c1f3 */
  --color-ocean-l50: 168 178 240; /* #a8b2f0 */
  --color-ocean-l40: 151 162 236; /* #97a2ec */
  --color-ocean-l30: 133 147 233; /* #8593e9 */
  --color-ocean-l20: 116 131 230; /* #7483e6 */
  --color-ocean-l10: 98 116 227; /* #6274e3 */
  --color-ocean-main: 81 100 224; /* #5164e0 */
  --color-ocean-d10: 73 90 202; /* #495aca */
  --color-ocean-d20: 65 80 179; /* #4150b3 */
  --color-ocean-d30: 57 70 157; /* #39469d */
  --color-ocean-d40: 49 60 134; /* #313c86 */
  --color-ocean-d50: 41 50 112; /* #293270 */
  --color-ocean-d60: 32 40 90; /* #20285a */
  --color-ocean-d70: 24 30 67; /* #181e43 */
  --color-ocean-d80: 16 20 45; /* #10142d */
  --color-ocean-d90: 8 10 22; /* #080a16 */
  --color-ocean-d100: 0 0 0; /* #000000 */

  --color-brick-l100: 255 255 255; /* #ffffff */
  --color-brick-l90: 252 243 240; /* #fcf3f0 */
  --color-brick-l80: 249 231 225; /* #f9e7e1 */
  --color-brick-l70: 246 219 210; /* #f6dbd2 */
  --color-brick-l60: 243 207 195; /* #f3cfc3 */
  --color-brick-l50: 240 195 180; /* #f0c3b4 */
  --color-brick-l40: 236 183 164; /* #ecb7a4 */
  --color-brick-l30: 233 171 149; /* #e9ab95 */
  --color-brick-l20: 230 159 134; /* #e69f86 */
  --color-brick-l10: 227 147 119; /* #e39377 */
  --color-brick-main: 224 135 104; /* #e08768 */
  --color-brick-d10: 202 122 94; /* #ca7a5e */
  --color-brick-d20: 179 108 83; /* #b36c53 */
  --color-brick-d30: 157 95 73; /* #9d5f49 */
  --color-brick-d40: 134 81 62; /* #86513e */
  --color-brick-d50: 112 68 52; /* #704434 */
  --color-brick-d60: 90 54 42; /* #5a362a */
  --color-brick-d70: 67 40 31; /* #43281f */
  --color-brick-d80: 45 27 21; /* #2d1b15 */
  --color-brick-d90: 22 13 10; /* #160d0a */
  --color-brick-d100: 0 0 0; /* #000000 */

  --color-red-l100: 255 255 255; /* #ffffff */
  --color-red-l90: 254 237 236; /* #feedec */
  --color-red-l80: 253 218 218; /* #fddada */
  --color-red-l70: 252 200 199; /* #fcc8c7 */
  --color-red-l60: 251 181 180; /* #fbb5b4 */
  --color-red-l50: 250 163 162; /* #faa3a2 */
  --color-red-l40: 249 145 143; /* #f9918f */
  --color-red-l30: 248 126 124; /* #f87e7c */
  --color-red-l20: 247 108 105; /* #f76c69 */
  --color-red-l10: 246 89 87; /* #f65957 */
  --color-red-main: 245 71 68; /* #f54744 */
  --color-red-d10: 221 64 61; /* #dd403d */
  --color-red-d20: 196 57 54; /* #c43936 */
  --color-red-d30: 172 50 48; /* #ac3230 */
  --color-red-d40: 147 43 41; /* #932b29 */
  --color-red-d50: 123 36 34; /* #7b2422 */
  --color-red-d60: 98 28 27; /* #621c1b */
  --color-red-d70: 73 21 20; /* #491514 */
  --color-red-d80: 49 14 14; /* #310e0e */
  --color-red-d90: 24 7 7; /* #180707 */
  --color-red-d100: 0 0 0; /* #000000 */

  --color-grey-l100: 255 255 255; /* #ffffff */
  --color-grey-l90: 244 244 245; /* #f4f4f5 */
  --color-grey-l80: 232 233 235; /* #e8e9eb */
  --color-grey-l70: 221 222 225; /* #dddee1 */
  --color-grey-l60: 209 211 215; /* #d1d3d7 */
  --color-grey-l50: 198 201 205; /* #c6c9cd */
  --color-grey-l40: 187 190 194; /* #bbbec2 */
  --color-grey-l30: 175 179 184; /* #afb3b8 */
  --color-grey-l20: 164 168 174; /* #a4a8ae */
  --color-grey-l10: 152 157 164; /* #989da4 */
  --color-grey-main: 141 146 154; /* #8d929a */
  --color-grey-d10: 127 131 139; /* #7f838b */
  --color-grey-d20: 113 117 123; /* #71757b */
  --color-grey-d30: 99 102 108; /* #63666c */
  --color-grey-d40: 85 88 92; /* #55585c */
  --color-grey-d50: 71 73 77; /* #47494d */
  --color-grey-d60: 56 58 62; /* #383a3e */
  --color-grey-d70: 42 44 46; /* #2a2c2e */
  --color-grey-d80: 28 29 31; /* #1c1d1f */
  --color-grey-d90: 14 15 15; /* #0e0f0f */
  --color-grey-d100: 0 0 0; /* #000000 */

  --font-size: 14px;
}
