.lndrui__btn {
  background-color: var(--primary);
  border: 0;
  cursor: pointer;
  height: 38px;
  font-weight: 500;
  outline: none;
  padding: 0 20px;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: inset 0px 0px 0px 50px var(--o10);
  }
  &:active {
    box-shadow: inset 0px 0px 0px 50px var(--o20);
  }
}

.lndrui__btn--transparent {
  background-color: var(--o05);
}

.lndrui__btn--success {
  background-color: var(--success);
}

.lndrui__btn--danger {
  background-color: var(--danger);
}