:root {
  --black:       #242424;
  --white:       #eeeeee;

  --primary:     #e9c46a;
  --accent:      #f4a261;
  --success:     #2a9d8f;
  --error:       #ec554a;

  --o30:         rgba(36, 36, 36, 0.3);
  --o20:         rgba(36, 36, 36, 0.2);
  --o10:         rgba(36, 36, 36, 0.1);
  --o05:         rgba(36, 36, 36, 0.05);
}

* {
  color: var(--black);
}