.lndrui__select {
  position: relative;
}

.lndrui__select--header {
  background-color: var(--white);
  border: 3px solid var(--primary);
  cursor: pointer;
  font-weight: 500;
  outline: none;
  padding: 10px 20px;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--primary);
  }
  
  &.open {
    background-color: var(--primary);

    .arrow {
      top: 13px;
      transform: rotate(-45deg);
    }
  }
  
  .arrow {
    border-right: 5px solid var(--black);
    border-top: 5px solid var(--black);
    height: 10px;
    position: absolute;
    right: 20px;
    top: 7px;
    transform: rotate(135deg);
    transform-origin: center;
    width: 10px;
  }
}

.lndrui__select--options {
  background-color: var(--white);
  border: 3px solid var(--o10);
  box-sizing: border-box;
  outline: none;
  overflow-y: auto;
  margin-top: 5px;
  max-height: 302px;
  position: absolute;
  width: 100%;
}

.lndrui__select--option {
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;

  &:hover {
    background-color: var(--o05);
  }

  &.selected {
    background-color: var(--o10);
    font-weight: 500;
  }
}